.date-group {
  margin-bottom: 20px;
}

.date-input {
  display: inline-block;
  margin-right: 20px;
}

input {
  width: 50px;
  margin-right: 5px;
}

button {
  margin-top: 10px;
}

.total-difference-btn {
  text-align: center; /* Center the button horizontally */
  margin-top: 20px;    /* Add spacing from the content above */
}

.calculate-total {
  width: 300px;    /* Set a large width for the button */
  height: 50px;    /* Set a larger height */
  font-size: 18px; /* Increase the font size for better readability */
}
