<div *ngFor="let datePair of datePairs; let i = index" class="date-group">
  <div class="date-input">
    <mat-form-field>
      <mat-label>Day</mat-label>
      <input matInput [(ngModel)]="datePair.date1.day" placeholder="Day" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Month</mat-label>
      <input matInput [(ngModel)]="datePair.date1.month" placeholder="Month" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Year</mat-label>
      <input matInput [(ngModel)]="datePair.date1.year" placeholder="Year" type="number" />
    </mat-form-field>
  </div>

  <div class="date-input">
    <mat-form-field>
      <mat-label>Day</mat-label>
      <input matInput [(ngModel)]="datePair.date2.day" placeholder="Day" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Month</mat-label>
      <input matInput [(ngModel)]="datePair.date2.month" placeholder="Month" type="number" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Year</mat-label>
      <input matInput [(ngModel)]="datePair.date2.year" placeholder="Year" type="number" />
    </mat-form-field>
  </div>

  <!-- Remove Button -->
  <button mat-raised-button color="warn" (click)="removeDatePair(i)">
    <mat-icon>delete</mat-icon> Remove
  </button>

  <!-- Calculate Difference Button -->
  <button mat-raised-button color="accent" (click)="calculateDifference(i)">
    <mat-icon>calculate</mat-icon> Calculate
  </button>

  <!-- Display Difference -->
  <p *ngIf="datePair.difference">
    {{ "The difference is " + datePair.difference.toString() }}
  </p>
</div>

<!-- Add New Pair Button -->
<button mat-raised-button color="primary" (click)="addDatePair()">
  <mat-icon>add</mat-icon> Add Another Date Pair
</button>

<!-- Big Centered Button for Total Difference -->
<div class="total-difference-btn">
  <button mat-raised-button color="primary" class="calculate-total" (click)="calculateTotalDifference()">
    Calculate Total Difference
  </button>

  <!-- Display Difference -->
  <p *ngIf="totalDifference">
    {{ totalDifference }}
  </p>
</div>